<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/home.css}" href="/css/home.css"  rel="stylesheet" type="text/css" />
</head>
<body class="container">
<header class="header">
    <div class="logo">
        <a href="/dashboard">
            <img th:src="@{/images/logo.png}" /></a>
    </div>
    <div class="account">
        <a href="/editaccount">
            <img th:src="@{/images/account.png}" /></a>
    </div>
    <div class="add">
        <a href="/dashboard">
            <img th:src="@{/images/return.png}" /></a>
    </div>
    <div class="logout">
        <a href="/login">
            <img th:src="@{/images/logout.png}" /></a>
    </div>
</header>
<h1 th:text="${title}">Default Title</h1>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="body">
    <div class="center">
        <div class="centerin">
            <div class="notes2">

<form method="post" style="max-width:600px;" th:object="${event}">

    <table>
        <tr>
            <td>
                <label>Event Date</label>
            </td>
           <td>
               <input type="date" th:field="*{EventDate}" th:value="*{EventDate}"/>
           </td>

        </tr>
        <!--<tr>-->
            <!--<td>-->
                <!--<label>Test Date</label>-->
            <!--</td>-->
            <!--<td>-->
            <!--<input type="date" th:type="date" class="form-control"-->

                   <!--th:text="${#dates.format(*{eDate}, 'dd-MM-yyyy')}" />-->
            <!--</td>-->
          <!--&lt;!&ndash;  <td th:text="${#dates.format(event.eDate,'dd-MM-yyyy')}"></td> &ndash;&gt;-->


        <!--</tr>-->
        <tr>
            <td>
                <label>Start Time</label>
            </td>
            <td>
                <input type="time" name="start_Time" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Finish Time</label>
            </td>
            <td>
                <input type="time" name="finish_Time" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Location</label>
            </td>
            <td>
                <input type="text" name="location" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Type</label>
            </td>
            <td>
                <input type="text" name="type" />
            </td>
        </tr><tr>
            <td>
                <label>Description</label>
            </td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>



    </table>

    <input type="submit" value="Add Event" />
</form>
            </div>
        </div>
    </div>
</div>

</body>
</html>