<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<!--<nav th:replace="fragments :: navigation"></nav>-->

<form method="post" style="max-width:600px;" th:object="${event}">

    <table>
        <tr>
            <td>
                <label>Event Date</label>
            </td>
           <td>
               <input type="date" th:field="*{EventDate}" th:value="*{EventDate}"/>
           </td>

        </tr>
        <!--<tr>-->
            <!--<td>-->
                <!--<label>Test Date</label>-->
            <!--</td>-->
            <!--<td>-->
            <!--<input type="date" th:type="date" class="form-control"-->

                   <!--th:text="${#dates.format(*{eDate}, 'dd-MM-yyyy')}" />-->
            <!--</td>-->
          <!--&lt;!&ndash;  <td th:text="${#dates.format(event.eDate,'dd-MM-yyyy')}"></td> &ndash;&gt;-->


        <!--</tr>-->
        <tr>
            <td>
                <label>Start Time</label>
            </td>
            <td>
                <input type="time" name="start_Time" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Finish Time</label>
            </td>
            <td>
                <input type="time" name="finish_Time" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Location</label>
            </td>
            <td>
                <input type="text" name="location" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Type</label>
            </td>
            <td>
                <input type="text" name="type" />
            </td>
        </tr><tr>
            <td>
                <label>Description</label>
            </td>
            <td>
                <input type="text" name="description" />
            </td>
        </tr>



    </table>

    <input type="submit" value="Add Event" />
</form>

</body>
</html>