<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
<meta charset="UTF-8"/></head>
<!--
<head>
    <meta charset=" UTF-8 xmlns:th="http://www.w3.org/1999/xhtml"/>">
<link rel="stylesheet" href="../static/css/index.css">
<title>Title</title>
</head th:fragment="head"> -->
<body class="container">
<div class="back">
    <header class="header">
        <div class="logo">
            <img src="../static/images/logo.png">
        </div>

        <h1 th:text="${message}">Default Title</h1>
<form class="block" method="post">
    <table>
        <tr>
            <td>
                <label>UserName</label>
            </td>
            <td>
                <input type="text" name="username" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input class="button" type="submit" value="LogIn"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Don't have an Account?<a href="newuser.html">NewUser</a>
            </td>
        </tr>

    </table>
</form>
    </header>
    <div class="body">
        <div class="give">
            <img src="../static/images/get.png">
        </div>
        <div class="have">
            <img src="../static/images/have.png">
        </div>
    </div>
</div>
</body>
</html>