<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<form method="post">
    <table>
        <tr>
            <td>
                <label>UserName</label>
            </td>
            <td>
                <input type="text" name="username" />
            </td>
        </tr>

        <tr>
            <td>
                <label>FirstName</label>
            </td>
            <td>
                <input type="text" name="firstname" />
            </td>
        </tr>

        <tr>
            <td>
                <label>LastName</label>
            </td>
            <td>
                <input type="text" name="lastname" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Re-Type Password</label>
            </td>
            <td>
                <input type="password" name="rtpassword" />
            </td>
        </tr>

        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input type="email" name="email" />
            </td>
        </tr>

        <tr>
            <td colspan="2">

                <input type="submit" value="SignUp"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">

                Already Registered?<a href="login.html">Login Here</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>