<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="fragments :: head"></head>-->
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<!--<nav th:replace="fragments :: navigation"></nav>-->

<form method="post" style="max-width:600px;" th:object="${user}">
    <table>
        <tr>
            <td>
                <label th:for="username">UserName</label>
            </td>
            <td>
                <input class="form-control" th:field="*{username}" />
                <span th:errors="*{username}" class="error"></span>
            </td>

        </tr>

        <tr>
            <td>
                <label th:for="firstname">FirstName</label>
            </td>
            <td>
                <input class="form-control" th:field="*{firstname}" />
                <span th:errors="*{firstname}" class="error"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label th:for="lasttname">LastName</label>
            </td>
            <td>
                <input class="form-control" th:field="*{lastname}" />
                <span th:errors="*{lastname}" class="error"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label th:for="password">Password</label>
            </td>
            <td>
                <input class="form-control" th:field="*{password}" />
                <span th:errors="*{password}" class="error"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label>Re-Type Password</label>
            </td>
            <td>
                <input type="password" name="rtpassword" />
            </td>
        </tr>

        <tr>
            <td>
                <label th:for="email">Email</label>
            </td>
            <td>
                <input class="form-control" th:field="*{email}" />
                <span th:errors="*{email}" class="error"></span>
            </td>
        </tr>

        <tr>
            <td colspan="2">

                <input type="submit" value="SignUp"/>
            </td>
        </tr>

        <tr>
            <td colspan="2">

                Already Registered?<a href="login">Login Here</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>